---
interface Props {
  title: string;
  icon: string;
  color: string;
}

const { title, icon, color } = Astro.props;
---

<span class="feature-card" data-color={color}>
  <div class="feature-card-header">
    <div class="feature-card-icon">
      <span class="material-symbols-rounded">{icon}</span>
    </div>
    <h3 class="feature-card-title">{title}</h3>
  </div>
  <div class="feature-card-description">
    <slot />
  </div>
  <!-- <span class="feature-card-link">Learn more <span aria-hidden="true">→</span></span> -->
</span>
